body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.graph {
    position: relative;
    width: 500px;
    height: 400px;
}

.node {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1.5px solid #000;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    position: absolute;
}

.visited {
    background-color: teal;
}

.edge {
    position: absolute;
    background-color: black;
}
